html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 30px;
  color: white;
  background-color: rgb(2, 2, 157);
}

.title, .scoreboard {
  text-align: center;
}

.board-row {
  display: flex;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px; 
  background-color: white; 
  font-size: 40px
}

.history-bar {
  display: flex;
  margin: 0 30%;
  justify-content: space-between;
}

.button {
  font-size: 0.75em;
  background-color: white;
  width: 100px;
  height: 75px;
}

.button:hover {
  background-color: rgb(223, 223, 223);
}

.button:active {
  background-color: rgb(188, 188, 188);
}

